* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}
#navbar {
  width: 100%;
  background-color: rgb(179, 217, 217);
  margin: 1px;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

/* הופך את התפריט לשורה יפה */
#navbar ul {
  display: flex;
  width: 100%;
  padding: 10px;
  list-style-type: none;
}

#navbar ul li {
  padding: 8px 20px;
}
#log {
  margin: 4px;
  background-color: rgb(155, 200, 216);
  position: absolute;
  right: 10px;
  border: 1px solid bisque;
  border-radius: 20px;
}
#row {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

#side {
  flex: 25%;
  padding: 20px;
  margin-top: 2px;
  border-radius: 20px;
}

#main {
  background-color: rgb(250, 254, 255);
  flex: 75%;
  padding: 20px;
  border-radius: 20px;
}
.sidebar {
  display: flex;
  cursor: pointer;
  border: 1px solid rgb(112, 109, 109);
  border-radius: 25px;
  margin: 15px;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: antiquewhite;
}
.titleonsidebarimage {
  border: 1px solid black;
}
#maincontant {
  justify-content: center;
  justify-items: center;
  text-align: center;
}
.home-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  margin-top: 20px;
}

.home-card {
  background: rgb(174, 218, 239);
  padding: 20px;
  width: 220px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.3s;
}

.home-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}
.menu-icon {
  position: relative;
  background-color: rgb(229, 236, 234);
  width: 45px;
  height: 40px;
  border-radius: 20px;
  padding: 2px;
  align-items: center;
  align-content: center;
  cursor: pointer;
  display: none;
}
.line {
  border: 2px solid rgb(255, 255, 255);
  width: 100%;
  height: 2px;
  margin-bottom: 2px;
}
.line:nth-child(1) {
  top: 0;
}
.line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.line:nth-child(3) {
  bottom: 0;
}


@media screen and (max-width: 500px) {
  #navbar {
    flex-direction: column;
  }
  .home-cards {
    display: flex;
    flex-direction: column;
  }
  body {
    font-size: 15px;
  }
    #row {
    flex-direction: column;
  }
  #side {
    display: grid;
    grid-template-columns: auto auto;
    cursor: pointer;
  }
}

@media screen and (max-width: 900px) {
  #row {
    flex-direction: column;
  }
  #side {
    display: grid;
    grid-template-columns: auto auto;
    cursor: pointer;
    
  }
}
